@import url(fonts.css);
@import url(font-awesome.min.css);
@import url(counter.css);
body{
	margin: 0;
	font-family: Lato-Light, Arial;
	font-size: 15pt;
	text-align: center;
	background-color: #fff;
}
h3{
	font-weight: normal;
}
.block{
	width: 880px;
}
.fluid{
	width: 100%;
}
.center{
	margin: 0 auto;
}
.bgblack{
	background-color: #000000;
	color: #ffffff;

}
.bgwhite{
	background-color: #ffffff;
	color: #797979;
}
.right{
	float: right;
}

nav{
	padding: 25px;
}
nav > ul{
	margin: 0;
	list-style: none;
	text-align: left;
	padding: 0;
}
nav > ul > li{
	display: inline-block;
}

a{
	text-decoration: none;
	padding-right: 10px;
	color: inherit;
}
li > a{
	display: block;
}
#top a{
	font-size: 13pt;
	color: #ffffff;
}
#top a:hover{
	color:#00B8FD;
}
h1{
	font-size: 34pt;
	font-weight: normal;
}
.blue{
	color: #00B8FD;
}
#year{
	background-color: black;
	border: none;
	border-bottom: #797979 1px solid;
	color:#ffffff;
	text-align: center;
	font-family: Lato-Thin, Arial;
	font-size: 22pt;
	width: 150px;
}
#year:focus{
	background-color: black;
	border: none;
	border-bottom: #ffffff 1px solid;
	outline: none;
}
.button{
	display: block;
	border-radius: 10px;
	text-align: center;

}
.main{
	background-color: #ffffff;
	width: 100px;
	font-size: 16pt;
	margin: 30px auto 0;
	color: #797979;
	font-weight: bold;
	padding: 15px 45px;
}
header{
	padding-bottom: 120px;
	background: url(../img/VectorSmartObject.png);
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: bottom;
}
#menu{
	font-family: Lato-Thin, Arial;
	font-size: 14pt;
	margin: 60px;
}
.phone{
	font-size: 20pt;
	font-family: GillSans-Light, Arial;
	margin: 0;
	color: #aeaeae;
}
#menu li:last-child{
	position: relative;
	top: 15px;
	left: 15px;

}
#menu li:last-child > a{
	font-family: Lato-Light, Arial;
	font-size: 14pt;
	text-align: right;
}
[for*="year"]{
	color: #ffffff;
	font-size: 13pt;
}
#year::-webkit-input-placeholder{
	color: #303030;
}
.mb215{
	margin-bottom: 157px;
	font-size: 16pt;
}
.blackblock{
	background-image: url(../img/PERSONALIMMORTALITY.png),
	url(../img/Blackblock.png);
	background-repeat: no-repeat, no-repeat;
	background-position: center, center;
	background-color: white;
	background-size: 695px 50px, 100%;
	color: #959595;
	height: 430px;
}
.mb100{
	margin-bottom: 100px;
}
.btn-blue{
	background-color: #00c1fc;
	width: 250px;
	font-family: Lato-Black, Arial;
	font-size: 24pt;
	margin: 30px auto 0;
	color: #fff;
	font-weight: bold;
	padding: 15px 45px;
}
.btn-green{
	background-color: #39a200;
	width: 175px;
	font-family: Lato-Black, Arial;
	font-size: 24pt;
	margin: 30px auto 0;
	color: #fff;
	font-weight: bold;
	padding: 15px 45px;
}
.mt100{
	margin-top: 100px;
}
.width670{
	width:670px;
}
.text{
	font-size: 15pt;
	padding-bottom: 90px;
	box-shadow: 0px 25px 73px -58px #93937C;
	margin-bottom: 50px;
}
.cross{
	margin-bottom: 50px;
}
.ts32pt{
	font-family: Lato-Regular, Arial;
	font-size: 32pt;
	color: black;
	margin-bottom: 3px;
	text-transform: uppercase;
}
.trusted{
	font-size: 14pt;
	color: #797979;
	margin-top: 3px;
}
.slide{
	padding: 100px;
}
.s-1{
	background: url(../img/imghos1.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50%;
}
.s-2{
	background: url(../img/imghos2.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50%;
}
.s-3{
	background: url(../img/imghos3.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50%;
}
.s-4{
	background: url(../img/imghos4.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50%;
}
.s-5{
	background: url(../img/imghos1.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50%;
}
.s-6{
	background: url(../img/imghos6.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50%;
}
.s-7{
	background: url(../img/imghos7.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50%;
}
.black{
	color: black;
}

.crosstoo{
	position: relative;
}
.crossred_dollar{
	position: absolute;
	top: -10px;
	right: 360px;
}
.dollarblack{
	margin-top: 85px;
}
.dollarblack::after{
	content: "";
	height: 75px;
	display: block;
	background-image: url(../img/top.png);
	background-repeat: no-repeat;
	background-size: cover;

}
.bgplus{
	background-image: url(../img/plus.png);
	background-repeat: no-repeat;
	background-position: 50%;

}
.money_time{
	width: 285px;
	height: 600px;
	border: 1px solid #797979;
	border-radius: 5px;
	font-size: 16pt;

}
.money_time > p{
	text-align: left;
	margin: 1em 1em 2em;
}
.left{
	float: left;
}
.mt690{
	margin-top: 690px;
}
.v-mod{
	padding: 30px 0;
}
.v-mod p:first-child{
	margin: 20px 0 50px;
}
.MT26pt{
	font-family: Lato-Medium, Arial;
	font-size: 26pt;
	color: #a6a6a6;
	margin: 0;
	padding: 15px 0;
	text-transform: uppercase;
	border-bottom: 1px solid #797979;

}


.slick-dots li button::before {
	width: 10px;
	height: 10px;
	content: "";
	opacity: 1;
	background-color: #a3a3a3;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.slick-dots li button:hover::before,
.slick-dots li button:focus::before,
.slick-dots li.slick-active button::before {
	opacity: 1;
	background-color: #00c1fc;
}
.LM{
	font-family: Lato-Medium, Arial;
}
.LS{
	font-family: Lato-Semibold, Arial;
	font-size: 38pt;
	text-transform: uppercase;
}
.off {
	font-size: 18pt;
}

.money_time > .LB68{
	font-family: Lato-Black, Arial;
	font-size: 68pt;
	margin: 15px auto 0;
	position: relative;
	text-align: center;
}
.LS39{
	font-family: Lato-Semibold, Arial;
	font-size: 40pt;
	position: absolute;
}
.od{
	background-color: #39a200;
	width: 170px;
	font-family: Lato-Black, Arial;
	font-size: 18pt;
	margin: 30px auto 30px;
	color: #fff;
	font-weight: bold;
	padding: 15px 15px;
}
.bottom::before{
	content: "";
	height: 75px;
	display: block;
	background-image: url(../img/bottom.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: 101%;
}
.buynow{
	height: 300px;
	font-size: 16pt;

}
.discount{
	background-color: #39a200;
	width: 130px;
	font-family: Lato-Regular, Arial;
	font-size: 14pt;
	margin: -20px 480px;
	color: #fff;
	padding: 8px 8px;
	position: absolute;
	z-index: 1;
}
.btn-bn{
	background-color: #000000;
	width: 175px;
	font-family: Lato-Black, Arial;
	font-size: 24pt;
	margin: 0px auto 0;
	color: #fff;
	font-weight: bold;
	padding: 20px 50px;
	position: relative;
}
.bottom{
	margin-top: 0;
}

.accepted{
	position: relative;
	top: -8px;
	font-size: 14pt;
}
.tm{
	font-size: 10pt;
}
.yourcity{
	text-align: left;

}
#city{
	border: 1px solid #b9b9b9;
	border-radius: 10px;
	text-align: left;
	font-family: Lato-Thin, Arial;
	font-size: 18pt;
	width: 250px;
	height: 60px;
	margin-left: 220px;
	padding-left: 20px;

}
#city:focus{
	outline: none;
	color: #686565;
}
.check{
	display: inline;
	width: initial;
	margin: 0 10px;
	padding: 15px 30px;
	border: none;
}
.question{
	width: 590px;
	padding: 4%;
	text-align: left;
}

.question__input{
	border-radius: 10px;
	border: 1px solid #b9b9b9;
	color: #686565;
	padding: 10px;
	font-family: Lato-Thin, Arial;
	font-size: 18pt;
	display: inline;
	box-sizing: border-box;

}
.question__input:focus{
	color: black;
	outline: none;
}
.question__textarea{
	width:100%;
	margin: auto;
	height: 150px;
}

.question__name{
	width: 25%;
	margin-right:3%;
}
.question__email{
	width: 35%;
	margin-right: 10%
}
.question__ask{
	width: 25%;
	display: inline;
	background-color: #00c1fc;
	font-family: Lato-Medium, Arial;
	font-size: 22pt;
	color: #fff;

}
.checkbox{
	display: none;
}

label[for="news"]{
	position: relative;
	top: 20px;
}

label[for="news"]::before{
	background-size: 100%;
	content: "";
	display: inline-block;
	height: 18px;
	margin-right: 20px;
	width: 18px;
}

.checkbox + [for="news"]::before{
	background-image: url(../img/Check_1.png);
}

.checkbox:checked + [for="news"]::before{
	background-image: url(../img/Check_0.png);
}

/* secondary counter */
#second_counter ul.flip:nth-of-type(2n){
	margin-right: 15px;
}

#second_counter ul.flip:nth-of-type(2n)::after{
	content: ":";
	color: #fff;
	font-size: 60px;
	position: absolute;
	left: 30px;
}
#second_counter ul.flip:last-of-type{
	margin-right: 2px;
}
#second_counter ul.flip:last-of-type::after{
	display: none;
}

footer{
	height: 450px;
	padding-top: 65px;
}
.address{
	width: 330px;
	text-align: left;

}
.links{
	width: 240px;
	text-align: left;
	padding-left: 40px;
	text-transform: uppercase;
	box-sizing: border-box;
}

.sotial{
	width: 196px;

}
footer .blue{
	text-decoration: underline;
	font-size: 16pt;
	font-family: Lato-Light, Arial;
}
footer .phone{
	line-height: 0.7;
}
.headquarters{
	color: #b9b9b9;

}
.links > a{
	display: block;
	padding: 0 0 18px 0;
}
.sotial > img{
	display: block;
	padding: 0 0 17px 0;
}
footer .block{
	padding: 57px;
	box-sizing: border-box;
	height: 410px;
}
.sotial > a{
	display: block;
	padding: 0 0 15px 0;
}
.copy{
	text-align: center;
	color: #656565;
	margin: 10px;
	font-size: 12pt;

}
.timer{
	font-family: Lato-Bold;
	font-size: 35px;
	margin-top: 15px;
}
