@import url(fonts.css);
@import url(font-awesome.min.css);
@import url(counter.css);
body{
	margin: 0;
	font-family: Lato-Light, Arial;
	font-size: 15pt;
	text-align: center;
}
h3{
	font-weight: normal;
}
.block{
	width: 880px;
}
.fluid{
	width: 100%;
}
.center{
	margin: 0 auto;
}
.bgblack{
	background-color: #000000;
	color: #ffffff;
	
}
.bgwhite{
	background-color: #ffffff;
	color: #797979;
}
.right{
	float: right;
}

nav{
	padding: 25px;
}
nav > ul{
	margin: 0;
	list-style: none;
	text-align: left;
}
nav > ul > li{
	display: inline-block;
}

a{
	text-decoration: none;
	padding-right: 10px;
	color: inherit;
}
li > a{
	display: block;
}
#top a{
	font-size: 13pt;
	color: #ffffff;
}
#top a:hover{
	color:#00B8FD;
}
h1{
	font-size: 34pt;
	font-weight: normal;
}
.blue{
	color: #00B8FD;
}
#year{
	background-color: black;
    border: none;
    border-bottom: #797979 1px solid;
    color:#ffffff;
    text-align: center;
    font-family: Lato-Thin, Arial;
    font-size: 22pt;
    width: 150px;
    
}
#year:focus{
	background-color: black;
    border: none;
    border-bottom: #ffffff 1px solid;
    outline: none;
}
.button{
	display: block;
	border-radius: 10px;
	text-align: center;
	padding: 15px 45px;
}
.main{
	background-color: #ffffff;
    width: 100px;
    font-size: 16pt;
    margin: 30px auto 0;
    color: #797979;
    font-weight: bold;
}
header{
	padding-bottom: 120px;
	background: url(../img/VectorSmartObject.png);
	background-repeat: no-repeat;
	background-position-x: right;
    background-position-y: bottom;
}
#menu{
	font-family: Lato-Thin, Arial;
	font-size: 14pt;
	margin: 60px;
}
#menu li:last-child{
	float: right;
	font-size: 24pt;
	font-family: GillSans-Light, Arial;
}
#menu li:last-child > a{
	font-family: Lato-Light, Arial;
	font-size: 14pt;
	text-align: right;
}
[for*="year"]{
	color: #ffffff;
	font-size: 13pt;
}
#year::-webkit-input-placeholder{
	color: #303030;
}
.mb215{
	margin-bottom: 157px;
	font-size: 16pt;
}
.blackblock{
	background-image: url(../img/PERSONALIMMORTALITY.png),
	url(../img/Blackblock.png);
	background-repeat: no-repeat, no-repeat; 
	background-position: center, center;
    background-color: white;
    background-size: 695px 50px, 100%;
    color: #959595;
    height: 430px;
}
.mb100{
	margin-bottom: 100px;
}
.btn-blue{
	background-color: #00c1fc;
    width: 250px;
    font-family: Lato-Black, Arial;
    font-size: 24pt;
    margin: 30px auto 0;
    color: #fff;
    font-weight: bold;
}
.btn-green{
	background-color: #39a200;
    width: 175px;
    font-family: Lato-Black, Arial;
    font-size: 24pt;
    margin: 30px auto 0;
    color: #fff;
    font-weight: bold;
}
.mt100{
	margin-top: 100px;
}
.width670{
	width:670px;
}
.text{
	font-size: 15pt;
	padding-bottom: 90px;
	box-shadow: 0px 25px 73px -58px #93937C;
	margin-bottom: 50px;
}
.cross{
	margin-bottom: 50px;
}
.ts32pt{
	font-family: Lato-Regular, Arial;
	font-size: 32pt;
	color: black;
	margin-bottom: 3px;
	text-transform: uppercase;
}
.trusted{
	font-size: 14pt;
	color: #797979;
	margin-top: 3px;
}
.slider{
	padding: 100px;
}
.s-1{
	background: url(../)
	background-size: contain;
	background-position: 50%;
}
.black{
	color: black;
}

.crosstoo{
	position: relative;
}
.crossred_dollar{
	position: absolute;
    top: -10px;
    right: 360px;
}
.dollarblack{
	margin-top: 85px;
}
.dollarblack::after{
	content: "";
	height: 75px;
	display: block;
	background-image: url(../img/top.png);
	background-repeat: no-repeat;
	background-size: cover;
	
}
.money_time{
	width: 285px;
	border: 1px solid #797979;
}
.left{
	float: left;
}
.mt690{
	margin-top: 690px;
}
.v-mod{
	padding: 30px 0;
}
.v-mod p:first-child{
	margin: 20px 0 50px;
}
.MT26pt{
	font-family: Lato-Medium, Arial;
	font-size: 26pt;
	color: #a6a6a6;
	margin-bottom: 3px;
	text-transform: uppercase;
}